{{ partial "header.html" . }}
<article>
    {{ if .Title }}
        <div class="article-meta">
            <h1><span class="title">{{ .Title | markdownify }}</span></h1>
            {{ if (gt .Params.date 0) }}<h3 class="date">{{ .Date.Format "January 02, 2006" }}</h3>{{ end }}
        </div>
    {{ else }}
        {{ if (gt .Params.date 0) }}<h3 class="date">{{ .Date.Format "January 02, 2006" }}</h3>{{ end }}
    {{ end }}
    <main>
    {{ .Content }}
    </main>
</article>

{{ partial "footer.html" . }}
